<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="website icon" href="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" type="jpg" />
  <title>Login</title>
 <link rel="stylesheet" href="/css/form.css" />
</head>
<body>

<ul>
      <% if (typeof error != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>
   
   <% if (typeof msg != 'undefined') { %>
	<ul>
	<li> <%= msg %> </li>
        </ul>
<% } %>
   
<form action="/users/login" method="POST" accept-charset="utf-8">
             <h1>Login</h1>
            <div>
                <input value="<%if(email!='ignore'){%><%=email%><%}%>" type="text" name="email" id="email" placeholder="Username or email" required/>
            </div>
            <div>
                <input value="<%if(password!='ignore'){%><%=password%><%}%>" type="password" name="password" id="password" placeholder="Password" required/>
            </div>
            <div>
            <input id="submit-button" type="submit" value="Login"/>
            </div>
	   <a id="rule" href="/users/register">You have no account? <br>Register here</a>
        </form>
</body>
</html>
