<!DOCTYPE html>
<html lang="en">
<head>
	    <link rel="website icon" href="https://i.postimg.cc/XYSJmSBn/channels4-profile.jpg" type="jpg" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register</title>
 <link rel="stylesheet" href="/css/form.css" />
</head>
<body>
  <ul> 
  <% if (typeof errors != 'undefined') { %>
 <% errors.forEach(error => { %>
 <li><%= error.message %> </li>  
<% }) %>
<% } %>
</ul>
       
 <form action="/users/register" method="POST" accept-charset="utf-8">
             <h1>Register</h1>
            <div>
                <input value="<%if(args.name){%><%=args.name%><%}%>" type="text" name="name" id="name" placeholder="Name" required/>
            </div>
            <div>
                <input value="<%if(args.email){%><%=args.email%><%}%>" type="email" name="email" id="email" placeholder="Email" required/>
            </div>
            <div>
                <input value="<%if(args.password){%><%if(args.password.length>=6 && args.password == args.password2) {%><%=args.password%><%}%><%}%>" type="password" name="password" id="password" placeholder="Password" required/>
            </div>
            <div>
                <input value="<%if(args.password){%><%if(args.password.length>=6 && args.password == args.password2) {%><%=args.password2%><%}%><%}%>" type="password" name="password2" id="password2" placeholder="Confirm Password" required/>
            </div>
            <div>
            <input id="submit-button" type="submit" value="Register"/>
            </div>
           <a id="rule" href="/users/login">Already have an account? <br>Login here</a>
        </form>
</body>
</html>
